@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;

  /* color */
  --color-primary-extralight: #e0e1dd;
  --color-primary-light: #778da9;
  --color-primary: #415a77;
  --color-primary-dark: #1b263b; /* maybe switch to 63% brightness */
  --color-primary-extradark: #0d1b2a;

  --color-secondary: #776952;

  --color-gray-light: #a5abbd;

  /* height */
  --height-header: 5rem;
  --height-hero: calc(100dvh - var(--height-header));

  /* background */
  --background-image-hero: linear-gradient(
      rgba(27 38 59 / 0.5) 85%,
      rgba(27 38 59 / 1)
    ),
    url('/img/interior-nyx-1.jpg');

  --background-image-mobile-nav: radial-gradient(
    var(--color-primary-dark),
    var(--color-primary-extradark)
  );

  /* animations */
  --animate-pulsate: pulsate 1s infinite;
}

.test {
  color: rgba(165, 171, 189, 0.8);
  color: #a5abbde1;
}

/* breakpoints (desktop-first) */
@custom-variant 3xl (@media (max-width: 112.5em)); /* 1800px */
@custom-variant 2xl (@media (max-width: 92.5em)); /* 1480px */
@custom-variant xl (@media (max-width: 80em)); /* 1280px */
@custom-variant lg (@media (max-width: 62.5em)); /* 1000px */
@custom-variant md (@media (max-width: 50em)); /* 800px */
@custom-variant sm (@media (max-width: 37.5em)); /* 600px */
@custom-variant xs (@media (max-width: 31.25em)); /* 500px */
@custom-variant 2xs (@media (max-width: 25em)); /* 400px */

*:focus {
  @apply border-none outline-none;
  box-shadow: 0 0 0.5rem 0.75rem rgba(119 105 82 / 0.6);
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.extradark');
    border-right-color: theme('colors.gray.light');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.gray.light');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes pulsate {
    0% {
      transform: scale(1);
      box-shadow: none;
    }
    50% {
      transform: scale(1.1);
      box-shadow: 0 1rem 4rem rgba(#000, 0.25);
    }
    100% {
      transform: scale(1);
      box-shadow: none;
    }
  }
}
